/***************
RESET
**************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Fredoka", sans-serif;
    font-style: normal;
}



/*****************
Header
*/

header {
    width: 300px;
    margin: 45px auto;
}

main {
    width: 1140px;
    margin: 0 auto;
}


.title h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #e53170;
}

.text-container{
    margin-bottom: 50px;
}

.cards-container{
    display: flex;
}

.card{
    display: flex;
    width: 360px;
    height: 105px;
    background-color: #0f0e17;
}

.photo{
    width: 105px;
}

.detail{
    padding: 15px 15px;
}

h2{
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    padding-bottom: 12px;
}

h3{
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding-bottom: 12px;
}

span {
    font-size: 14px;
    color: #17ccf2;
}


